
    <!-- ##### Breadcrumb Area Start ##### -->
     <section class="breadcrumb-area bg-img bg-overlay" style="background-image: url(../img/bg-img/40.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2>ARTICLE</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Breadcrumb Area End ##### -->
 <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
         <li class="nav-item">
        <a class="nav-link disabled" href="/admin">MANAGE</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/admin/article">Article</a>
        </li>
        <li class="nav-item">
        <a class="nav-link"  href="/admin/category">Category</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/admin/tag">Tag</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/admin/user">User</a>
        </li>
    </ul>
    </nav>
    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="mag-breadcrumb py-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Administration</li>
                            <li class="breadcrumb-item active" aria-current="page">Article</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### About Us Area Start ##### -->
    <section class="about-us-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <!-- About Us Content -->
                    <div class="about-us-content bg-white mb-30 p-30 box-shadow">
                        <!-- Team Member Area -->
                        <div class="section-heading mt-30">
                            <h5>Article Managerment</h5>
                        </div>

                        <a class="btn btn btn-success btnfilter" href="/admin/articleAdd" role="button">
                            <i class="fas fa-plus" style="font-size:25px; color: white"></i>
                        </a>
                        <br>
                        <br>
                        <table class="table table-striped" >
                            <thead class="thead-dark text-center">
                              <tr>
                                <th scope="col">#id</th>
                                <th scope="col">dateWrite</th>
                                <th scope="col">datePost</th>
                                <th scope="col">status</th>
                                <th scope="col">idCate</th>
                                <th scope="col">idW</th>
                                <th scope="col">idE</th>
                                <th scope="col">see detail</th>
                                <th scope="col">update</th>
                                <th scope="col">delete</th>
                                <th scope="col">publish</th>
                              </tr>
                            </thead>
                            <tbody>
                                {{#each this.article}}
                                    <tr class="text-center">
                                        <td>{{id}}</td>
                                        <td>{{dateWriter}}</td>
                                        <td>{{datePost}}</td>
                                        <td>{{allow}}</td>
                                        <td>{{idCategory}}</td>
                                        <td>{{idWriter}}</td>
                                        <td>{{idEditor}}</td>
                                        <td><a class="btn btn-success btnfilter"  href="/writer/view/{{id}}"  role="button">
                                                <i class="fas fa-eye" style="font-size:15px; color: white"></i>
                                            </a>
                                        </td>
                                        <td><a class="btn btn-warning btnfilter"  href="/admin/articleEdit/{{id}}"  role="button">
                                                <i class="fas fa-edit" style="font-size:15px; color: white"></i>
                                            </a>
                                        </td>
                                        <td><a class="btn btn-danger btnfilter" href="/admin/articleDelete/{{id}}" role="button">
                                                 <i class="fas fa-trash-alt" style="font-size:15px; color: white"></i>
                                            </a>
                                        </td>
                                        <td><a class="btn btn-primary btnfilter" href="/admin/articlePub/{{id}}" role="button">
                                                 <i class="fas fa-upload" style="font-size:15px; color: white"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {{/each}}
                            </tbody>
                          </table>
                          
</div>
</div>
</div>
</div>
</section>

