{{#section 'js'}}
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script>
  $(function () {

    $('#articleForm').validate({
      rules: {
        title: {
          required: true
        },
        summary: {
          required: true
        },
        content: {
          required: true,
        },
        tag: {
          required: true,
        },
        idCategory: {
          required: true
        },
        image: {
          required: true
        },
      },
      messages: {
        title: {
          required: 'Your title is required.'
        },
        summary: {
          required: 'Your summary is required.'
        },
        content: {
          required: 'Your content does not match.'
        },
        tag: {
          required: 'Your tag is required.'
        },
        image: {
          required: 'Your link image is required.'
        },
      },
      errorElement: 'small',
      errorClass: 'help-block text-danger',
      highlight: function (e) {
        $(e).removeClass('is-valid').addClass('is-invalid');
      },
      unhighlight: function (e) {
        $(e).removeClass('is-invalid').addClass('is-valid');
      }
    });
  })
</script>


{{/section}}
   

    <!-- ##### Breadcrumb Area Start ##### -->
    <section class="breadcrumb-area bg-img bg-overlay" style="background-image: url(../../img/bg-img/40.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2>Submit ARTICLE</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Breadcrumb Area End ##### -->
 <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
         <li class="nav-item">
        <a class="nav-link disabled" href="/admin">MANAGE</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/admin/article">Article</a>
        </li>
        <li class="nav-item">
        <a class="nav-link"  href="/admin/category">Category</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/admin/tag">Tag</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/admin/user">User</a>
        </li>
    </ul>
    </nav>
    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="mag-breadcrumb py-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Submit Article</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Video Submit Area Start ##### -->
    <!-- <div id="toolbar"></div> -->
    <div id="editor"></div>
    <div class="video-submit-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <!-- Video Submit Content -->
                    <div class="video-submit-content mb-50 p-30 bg-white box-shadow">
                        <!-- Section Title -->
                        <div class="section-heading">
                            <h5>Submit your article</h5>
                        </div>

                        <div class="video-info mt-30">
                            {{#if this.error}}
                            <div class="alert alert-danger" role="alert">
                            Invalid to edit because this article allowed or 'WaitForPost' by Admin. <a href="/writer" class="alert-link">Go back</a>.
                            </div>
                            
                            {{else}}
                            <form method="POST" action="/admin/articleUpdate">
                               
                                <div class="form-group">
                                    <label for="txtCatID">#ID</label>
                                    <input readonly type="text" class="form-control" id="txtCatID" name="id" value="{{this.article.id}}">
                                </div>
                                <div class="form-group">
                                    <label for="title">Article Title</label>
                                    <div id="toolbar"></div>
                                   
                                    <input type="text" class="form-control" id="title" name="title" value="{{this.article.title}}" required/>
                                </div>
                                <div class="form-group">
                                    <label for="summary">Article Summary</label>
                                    <!-- <div id="toolbar"></div>
                                    <div id="summary"></div> -->
                                    <input type="text" class="form-control" id="summary" name="summary" value="{{this.article.summary}}" required/>

                                </div>

                                 <div class="form-group">
                                  <label for="txtFullDes">Article Content</label>
                                  <textarea class="form-control" id="txtFullDes" name="content" required>{{this.article.content}}</textarea>
                                </div>

  

                                <div class="form-group">
                                    <div><label for="tagold">Tag old: {{this.article.nameTag}}</label></div>
                                    <label for="tag">Tag new:</label>
                                    <select name="idTag" class="form-control" id="tag" value="{{this.article.idTag}}">
                                      {{#each this.tag}}
                                        <option value="{{id}}">{{name}}</option>     
                                      {{/each}}
                                    </select>
                                </div>



                                <div class="form-group">
                                    <div><label for="catagoryold">Catagory old: {{this.article.nameCate}}</label></div>
                                    <label for="catagory">Catagory new:</label>
                                    <select name="idCategory" class="form-control" id="catagory" value="{{this.article.idCategory}}">
                                        {{#each this.cate2}}
                                        <option value="{{id}}">{{name}}</option>     
                                      {{/each}}
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="summary">Link image</label>
                                    <input type="text" class="form-control" id="image" name="image" value="{{this.article.image}}" required/>
                                </div>
                                {{!-- <div>
                                    <input type="file" name="file" placeholder="chọn hình">
                                </div> --}}
                                <button type="submit" class="btn mag-btn mt-30" onclick="quillContent()"><i class="fa fa-cloud-upload"></i> Upload your article</button>
                            </form>
                          
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Video Submit Area End ##### -->
