<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Mag</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- Favicon -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

    <link rel="icon" href="../../img/core-img/favicon.ico">
    
    <script src="http://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="http://cdn.quilljs.com/1.3.6/quill.min.js"></script>
    <link href="http://cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/quillSnow.css">    
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/manhlinh.css">
    <link rel="stylesheet" type="text/css" href="/css/minhMinh.css">
    <link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js"></script>
    <script>tinymce.init({
      selector: '#txtFullDes1',
      height: 500,
      menubar: false,
      plugins: 'paste image link autolink lists table media',
      toolbar: [
        
      ],
    });</script>

    {{{_sections.css}}}
</head>

<body>

      <div class="preloader d-flex align-items-center justify-content-center">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
<form id="thishereform" action="/account/logout" method="POST"></form>
    <!-- ##### Header Area Start ##### -->
  <header class="header-area">

        <!-- Navbar Area -->
        <div class="mag-main-menu" id="sticker">
            <div class="classy-nav-container breakpoint-off">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="magNav">

                    <!-- Nav brand -->
                    <a href="/" class="nav-brand"><img src="../../img/core-img/logo.png" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Nav Content -->
                    <div class="nav-content d-flex align-items-center">
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                     <li class="active"><a href="/">Home</a></li>
                                    <li><a href="/guest/detailcategories/1">News</a></li>
                                    <li><a href="#">Bussiness</a>
                                        <ul class="dropdown">                                            
                                            <li><a href="/guest/detailcategories/2">Agricultural</a></li>
                                            <li><a href="/guest/detailcategories/3">Seafood</a></li>                                            
                                        </ul>
                                    </li>
                                    <li><a href="#">Life style</a>
                                        <ul class="dropdown">                                            
                                            <li><a href="/guest/detailcategories/4">Cutural</a></li>
                                            <li><a href="/guest/detailcategories/5">Films</a></li>
                                            <li><a href="/guest/detailcategories/6">Travel</a></li>
                                            <li><a href="/guest/detailcategories/7">Fashion</a></li>
                                             <li><a href="/guest/detailcategories/8">Health</a></li>
                                            <li><a href="/guest/detailcategories/9">Food</a></li>
                                        </ul>
                                    </li>
                                   <li><a href="#">Sciencse</a>
                                        <ul class="dropdown">                                            
                                            <li><a href="/guest/detailcategories/10">Invention</a></li>
                                            <li><a href="/guest/detailcategories/11">Technology</a></li>                                            
                                        </ul>
                                    </li>
                                    <li><a href="#">Synthetic</a>
                                        <div class="megamenu">                                            
                                            <ul class="single-mega cn-col-3">
                                                <li><a href="/">Home</a></li>
                                                <li><a href="/guest/detailcategories/1">News</a></li>
                                                <li><a href="#">Bussiness</a></li>
                                                <li><a href="/guest/detailcategories/2">Agricultural</a></li>
                                                <li><a href="/guest/detailcategories/3">Seafood</a></li>
                                            </ul>
                                            <ul class="single-mega cn-col-3">
                                                <li><a href="#">Life style</a></li>
                                                <li><a href="/guest/detailcategories/4">Cutural</a></li>
                                                <li><a href="/guest/detailcategories/5">Films</a></li>
                                                <li><a href="/guest/detailcategories/6">Travel</a></li>
                                                <li><a href="/guest/detailcategories/7">Fashion</a></li>                                                
                                            </ul>
                                            <ul class="single-mega cn-col-3">
                                                <li><a href="/guest/detailcategories/8">Health</a></li>
                                                <li><a href="/guest/detailcategories/9">Food</a></li>
                                                <li><a href="#">Secience</a></li>
                                                <li><a href="/guest/detailcategories/10">Invention</a></li>
                                                <li><a href="/guest/detailcategories/11">Technology</a></li>  
                                            </ul>
                                        </div>
                                    </li>
                                     <li><a href="timkiem.html">Search</a> </li>
                                     
                                    <li><a href="#" class="login-btn"><i class="fa fa-user" aria-hidden="true"></i></a>
                                        <ul class="dropdown" style="left:-100%">
                                            <a class="dropdown-item" href="/account/prolife" role="button">
                                                Prolife
                                            </a>
                                            <a class="dropdown-item" href="/account/changePass">
                                                Change pass
                                            </a>
                                            <a class="dropdown-item" href="javascript: $('#thishereform').submit();">
                                                Logout
                                            </a>
                                            
                                        </ul>
                                    
                                    </li>
                                    
                                    <li>
                                        <div class="top-meta-data d-flex align-items-center" class="classynav">
                                           <a href="#" class="submit-video">
                                            <i class="fas fa-align-justify" ></i></a>
                                        </div>
                                        <ul class="dropdown" style="left:-160%">
                                            
                                            <a class="dropdown-item" href="/account/login" role="button">
                                                Subcriber
                                            </a>
                                            <a class="dropdown-item" href="/writer" role="button">
                                                Writer
                                            </a>
                                            <a class="dropdown-item" href="/editor" role="button">
                                                Editor
                                            </a>
                                            <a class="dropdown-item" href="/admin" role="button">
                                                Admin
                                            </a>
                                        </ul>
                                    </li>


                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>
                        
                      
                    </div>
                </nav>
            </div>
        </div>
    </header>





  {{{body}}}







  
    
     <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                     <div class="footer-widget">
                        <!-- Logo -->
                        <a href="index.html" class="foo-logo"><img src="../../img/core-img/logo2.png" alt=""></a>
                        <p> Project web - Team 28 </br>
                        Teacher: Ngô Ngọc Đăng Khoa</br>            
                        1512325 – Tran Le Nguyen Hoang Minh</br>
                        1512281 – Đao Manh Linh</br>
                        1612749 – Phan Bao Trung</br>
                    </div>
                </div>

                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-widget">
                        <h6 class="widget-title">CATEGORIES</h6>
                        <nav class="footer-widget-nav">                       
                            <ul >
                            {{#each lcCategories}}
                                <li><a href="/guest/detailcategories/{{id}}"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> {{name}}</span> </a></li>
                             {{/each}}
                            </ul>
                        </nav>
                    </div>
                </div>

                
                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-5">
                      <div class="footer-widget">
                        <h6 class="widget-title">TAG</h6>
                        <ul class="footer-tags">                            
                            {{#each articlemostviews}}   
                                <li><a  href="/guest/detailcategories/{{idCategory}}">{{tag}}</a></li>
                            {{/each}} 
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- ##### Footer Area END ##### -->


    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="/js/active.js"></script>
   
    <script src="http://1892.yn.lt/blogger/JQuery/Pagging/js/jquery.twbsPagination.js" type="text/javascript"></script>
    {{{_sections.js}}}
</body>

</html>
