{{#section 'css'}}
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
{{/section}}

{{#section 'js'}}
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script>
  $(function () {

    $('#txtDOB').datetimepicker({
      format: 'd/m/Y',
      timepicker: false,
      mask: true,
    });

    $('#registerForm').validate({
      rules: {
        username: {
          required: true,
          remote: {
            url: '/account/is-available'
          }
        },
        password: {
          required: true,
          minlength: 6
        },
        confirm: {
          required: true,
          equalTo: $('[name="password"]')
        },
        name: {
          required: true,
        },
        email: {
          required: true,
          email: true
        },
        dob: {
          required: true
        },
        nickname: {
          required: true
        },
      },
      messages: {
        username: {
          required: 'Your username is required.',
          remote: 'Your username has been taken, please take another.'
        },
        password: {
          required: 'Your password is required.',
          minlength: 'Your password must have at least 6 characters.'
        },
        confirm: {
          required: 'Your password does not match.',
          equalTo: 'Your password does not match.'
        },
        name: {
          required: 'Valid full name is required.',
        },
        email: {
          required: 'Please enter a valid email address.',
          email: 'Please enter a valid email address.'
        },
        dob: {
          required: 'Valid date of birth is required.',
        },
         nickname: {
          required: 'Valid nickname is required.',
        },
      },
      errorElement: 'small',
      errorClass: 'help-block text-danger',
      highlight: function (e) {
        $(e).removeClass('is-valid').addClass('is-invalid');
      },
      unhighlight: function (e) {
        $(e).removeClass('is-invalid').addClass('is-valid');
      }
    });
  })
</script>
{{/section}}


    <!-- ##### Breadcrumb Area Start ##### -->
    <section class="breadcrumb-area bg-img bg-overlay" style="background-image: url(../img/bg-img/40.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2>PROLIFE</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Breadcrumb Area End ##### -->






    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="mag-breadcrumb py-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Prolife</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### About Us Area Start ##### -->
    <section class="about-us-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <!-- About Us Content -->
                    
                        <!-- Team Member Area -->
                        
                            <div class="bg-white p-30 box-shadow">
                                <!-- Section Title -->
                                <div class="section-heading">
                                    <h5>INFORMATION!</h5>
                                </div>
        
                                <form novalidate action="/account/updateProlife" method="POST" id="registerForm">
                                    <div class="card shadow">
                                      



                                        <div class="card-body">
                                        <h5 class="mb-3">Account</h5>
                                         <div class="form-group">
                                            <label for="txtCatID">#ID</label>
                                            <input readonly type="text" class="form-control" id="txtCatID" name="id" value="{{account.id}}">
                                        </div>

                                        <div class="form-group">
                                            <label for="txtUsername">Username</label>
                                            <input type="text" class="form-control" id="txtUsername" name="username" value="{{account.username}}">
                                        </div>

                                        <hr class="mb-4">
                        
                                        <div class="form-group">
                                            <label for="txtName">Name</label>
                                            <input type="text" class="form-control" id="txtName" name="name" value="{{account.name}}">
                                        </div>
                                        <div class="form-group">
                                            <label for="txtEmail">Email</label>
                                            <input type="text" class="form-control" id="txtEmail" name="email" value="{{account.email}}">
                                        </div>
                                        {{!-- <div class="form-group">
                                            <label for="txtDOB">Date of birth</label>
                                            <input type="date" class="form-control" id="DOB" name="dob" value="{{account.dob}}">
                                        </div> --}}
                                        <div class="form-group">
                                            <label for="role">Role</label>
                                            <input type="text" class="form-control" id="role" name="role" value="{{account.role}}">
                                        </div>

                                        <div class="form-group">
                                            <label for="catagory">Catagory (for Editor)</label>
                                              <input type="text" class="form-control" id="category" name="idCategory" value="{{account.idCategory}}">
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="catagory">NickName (for Writer)</label>
                                              <input type="text" class="form-control" id="nickname" name="nickname" value="{{account.nickname}}">
                                            </select>
                                        </div>

                                        </div>
                                        <div class="card-footer text-right">
                                        <button type="submit" class="btn btn-lg btn-success btn-block">
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                            Change Your Prolife
                                        </button>
                                        </div>
                                    </div>
                                    </form>


                            </div>
                        
                        
                    
                    </div>
                    </div>
                    </div>
</section>
<!-- ##### About Us Area End ##### -->

