{{#section 'js'}}
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script>
  $(function () {

    $('#articleForm').validate({
      rules: {
        title: {
          required: true
        },
        summary: {
          required: true
        },
        content: {
          required: true,
        },
        tag: {
          required: true,
        },
        idCategory: {
          required: true
        },
      },
      messages: {
        title: {
          required: 'Your title is required.'
        },
        summary: {
          required: 'Your summary is required.'
        },
        content: {
          required: 'Your content does not match.'
        },
        tag: {
          required: 'Your tag is required.'
        },
      },
      errorElement: 'small',
      errorClass: 'help-block text-danger',
      highlight: function (e) {
        $(e).removeClass('is-valid').addClass('is-invalid');
      },
      unhighlight: function (e) {
        $(e).removeClass('is-invalid').addClass('is-valid');
      }
    });
  })
</script>


<script
  src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey=ezd73nxbzc7bu6e86g2l82jbbffke0mwevwrnyvc5q8h89j6"></script>
<script>
  $(function () {
    tinymce.init({
      selector: '#txtFullDes',
      height: 500,
      menubar: false,
      plugins: 'paste image link autolink lists table media',
      toolbar: [
        'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright',
        'forecolor backcolor',
        'table link image media',
      ],
    });
  })
</script>
{{/section}}


    
    <!-- ##### Breadcrumb Area Start ##### -->
    <section class="breadcrumb-area bg-img bg-overlay" style="background-image: url(../img/bg-img/40.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2>Submit ARTICLE</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="mag-breadcrumb py-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Submit Article</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->

   
    <div class="video-submit-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <!-- Video Submit Content -->
                    <div class="video-submit-content mb-50 p-30 bg-white box-shadow">
                        <!-- Section Title -->
                        <div class="section-heading">
                            <h5>Submit your article</h5>
                        </div>

                        <div class="video-info mt-30">
                            <form method="POST" id="articleForm">
                                <!-- <div class="form-group">
                                    <label for="upload-file">Upload Your File</label>
                                    <input type="file" class="form-control-file" id="upload-file">
                                </div> -->
                                <div class="form-group">
                                    <label for="title">Article Title</label>
                                    <div id="toolbar"></div>
                                   
                                    <input type="text" class="form-control" id="title" name="title" required/>
                                </div>
                                <div class="form-group">
                                    <label for="summary">Article Summary</label>
                                  
                                    <input type="text" class="form-control" id="summary" name="summary" required/>

                                </div>

            

                                <div class="form-group">
                                  <label for="txtFullDes">Article Content</label>
                                  <textarea class="form-control" id="txtFullDes" name="content" required></textarea>
                                </div>

                                <input type="hidden" id="allow" name="allow" value="WaitForAd" required/>
                                <input type="hidden" id="idWriter" name="idWriter" value="{{authUser.id}}" required/>

                                <div class="form-group">
                                    <label for="catagory">Tag</label>
                                    <select name="idTag" class="form-control" id="tag">
                                      {{#each this.tag}}
                                        <option value="{{id}}">{{name}}</option>     
                                      {{/each}}
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="catagory">Catagory</label>
                                    <select name="idCategory" class="form-control" id="catagory">
                                        {{#each this.cate2}}
                                        <option value="{{id}}">{{name}}</option>     
                                      {{/each}}
                                    </select>
                                </div>
                                {{!-- <div>
                                    <input type="file" name="file" placeholder="chọn hình">
                                </div> --}}
                                <button type="submit" class="btn mag-btn mt-30" onclick="quillContent()"><i class="fa fa-cloud-upload"></i> Upload your article</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Video Submit Area End ##### -->


