
    <!-- ##### Breadcrumb Area Start ##### -->
    <section class="breadcrumb-area bg-img bg-overlay" style="background-image: url(../../img/bg-img/40.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2>MANAGE ARTICLES</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="mag-breadcrumb py-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Manage Articles</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### About Us Area Start ##### -->
    <section class="about-us-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-xl-8">
                    

   


    <div class="video-submit-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <!-- Video Submit Content -->
                    <div class="video-submit-content mb-50 p-30 bg-white box-shadow">
                        <!-- Section Title -->
                        <div class="section-heading">
                            <h5>accept the article</h5>
                        </div>
                             <div class="video-info mt-30">
                            {{#if this.error}}
                            <div class="alert alert-danger" role="alert">
                            Invalid to edit because this article allowed or 'WaitForPost' by Admin. <a href="/writer" class="alert-link">Go back</a>.
                            </div>
                            
                            {{else}}
                            <form method="POST" action="/editor/update">
                               
                                <div class="form-group">
                                    <label for="txtCatID">#ID</label>
                                    <input readonly type="text" class="form-control" id="txtCatID" name="id" value="{{this.article.id}}">
                                </div>
                            
                                <div class="form-group">
                                    <input type="hidden" class="form-control" id="summary" name="summary" value="{{this.article.summary}}" required/>
                                    <input type="hidden" class="form-control" id="allow" name="allow" value="WaitForPost" required/>
                                     <input type="hidden" class="form-control" name="idEditor" value="{{authUser.id}}" required/>
                                </div>

                                 <div class="form-group">
                                    <div><label for="catagory">Tag old: {{this.article.nameTag}}</label></div>
                                    <label for="catagory">Tag new: </label>
                                    <select name="idTag" class="form-control" id="tag">
                                      {{#each this.tag}}
                                        <option value="{{id}}">{{name}}</option>     
                                      {{/each}}
                                    </select>
                                </div>

                                <div class="form-group">
                                     <div><label for="catagory">Category old: {{this.article.nameCate}}</label></div>
                                    <label for="catagory">Catagory new: </label>
                                    <select name="idCategory" class="form-control" id="catagory">
                                        {{#each this.cate2}}
                                        <option value="{{id}}">{{name}}</option>     
                                      {{/each}}
                                    </select>
                                </div>

    
                                <div class="form-group">
                                    <label for="reason">Date Post</label>
                                    <input type="date" class="form-control" id="reason" name="datePost" value="{{this.article.datePost}}" required/>
                                </div>
                                {{!-- <div>
                                    <input type="file" name="file" placeholder="chọn hình">
                                </div> --}}
                                <button type="submit" class="btn mag-btn mt-30"><i class="fa fa-cloud-upload"></i> Approved article</button>
                            </form>
                          
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>






                </div>

<div class="col-12 col-md-6 col-lg-5 col-xl-4">
    <div class="sidebar-area bg-white mb-30 box-shadow">
        <!-- Sidebar Widget -->
        <div class="single-sidebar-widget p-30">
            <!-- Social Followers Info -->
            <div class="social-followers-info">
                <!-- Facebook -->
                <a href="#" class="duyet"><i class="fas fa-check"></i> {{allow.tongso}} <span>Allow</span></a>
                <!-- Twitter -->
                <a href="#" class="khongduyet"><i class="fas fa-lock"></i>&nbsp {{block.tongso}} <span>Locked</span></a>
                <!-- YouTube -->
            </div>
        </div>

        <!-- Sidebar Widget -->
        <div class="single-sidebar-widget p-30">
            <!-- Section Title -->
            <div class="section-heading">
                <h5>Categories</h5>
            </div>

            <!-- Catagory Widget -->
         
            <ul class="catagory-widgets">
            {{#each this.cate}}
               
                    <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> {{name}}</span> <span>{{tongSo}}</span></a></li>
                
            {{/each}}
            </ul>
        </div>

        <!-- Sidebar Widget -->
       

        <!-- Sidebar Widget -->
        <div class="single-sidebar-widget p-30">
            <!-- Section Title -->
            

        </div>
    </div>
</div>
</div>
</div>
</section>
<!-- ##### About Us Area End ##### -->