 <br>
 <form action="/search" method="POST">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 input-group mb-3">
            {{!-- <form action="/subcriber/search" method="POST"> --}}
                <input type="text" class="form-control rechange" placeholder="Search.." name="search">
                <div class="input-group-append">
                    <button class="btn btn-outline-danger btnfilter" type="submit"> <i class="fa fa-search"></i></button>
                </div>      
            {{!-- </form> --}}
        </div>
        <div class="col-md-4"></div>
    </div>
 </form>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcrumb Area Start ##### -->
    <section class="breadcrumb-area bg-img bg-overlay" style="background-image: url(../img/bg-img/40.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2>LIST ARTICLE</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="mag-breadcrumb py-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Subcriber</li>
                            <li class="breadcrumb-item active" aria-current="page">Articles</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### About Us Area Start ##### -->
    <section class="about-us-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-xl-8">
                    <!-- About Us Content -->
                    <div class="about-us-content bg-white mb-30 p-30 box-shadow">
                        <!-- Team Member Area -->
                        <div class="section-heading mt-30">
                            <h5>List of articles prenium</h5>
                        </div>
                        <hr>
                        
                        <input type="hidden" class="form-control" id="total2" name="total2" value="{{this.article.length}}" required/>
                        {{#each this.article}}
                         <div class="contentPagedml2 single-team-member align-items-center">
                            <div class="team-member-thumbnail">
                                <img src="{{image}}" alt="">
                                <div class="social-btn">
                                    <a href="#"><i class="far fa-address-card"></i> Info</a>
                                </div>
                            </div>
                            <div class="team-member-content">
                                <h6>{{username}}
                    
                                 {{!-- <button class="mltrue mltruebut" data-toggle="modal" data-target="#exampleModaltrue"><i class="fas fa-check"></i></button> --}}
                             </h6>
                    
                            {{#if premium}} <p style="color: white; background-color: #FF8C00; font-weight: bold;float:right;"> &nbsp Premium &nbsp </p>{{/if}}
                             <span>{{catename}}</span>
                             
                             <p><strong>Title:</strong> {{title}}</p>
                            <p><strong>Summary:</strong> {{summary}}</p>
                             {{!-- <button type="button" class="btn btn-outline-secondary"><p></p>See details</button> --}}
                             <a class="btn btn-outline-secondary" href="/subcriber/view/{{id}}" role="button">
                        
                                See Detail
                            </a>
                         </div>
                        </div> 
                     
                        {{/each}}

                     

                    <div style="width: 400px; margin:auto;">
                        <ul id="pagination2"></ul>
                    </div>
                    <br>

                   
</div>
</div>

<div class="col-12 col-md-6 col-lg-5 col-xl-4">
    <div class="sidebar-area bg-white mb-30 box-shadow">
        <!-- Sidebar Widget -->
       

        <!-- Sidebar Widget -->
        <div class="single-sidebar-widget p-30">
            <!-- Section Title -->
            <div class="section-heading">
                <h5>Categories</h5>
            </div>

            <!-- Catagory Widget -->
         
            <ul class="catagory-widgets">
            {{#each this.cate}}
               
                    <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> {{name}}</span> <span>{{tongSo}}</span></a></li>
                
            {{/each}}
            </ul>
        </div>

        <!-- Sidebar Widget -->
       

        <!-- Sidebar Widget -->
        <div class="single-sidebar-widget p-30">
            <!-- Section Title -->
            

        </div>
    </div>

</div>
</div>
</div>
</section>
<!-- ##### About Us Area End ##### -->


<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>  
<script src="/js/jquery/jquery-2.2.4.min.js"></script>
<script src="http://1892.yn.lt/blogger/JQuery/Pagging/js/jquery.twbsPagination.js" type="text/javascript"></script>

<script>

$(function () {
    var pageSize = 4;
    showPage = function (page) {
        $(".contentPagedml2").hide();
        $(".contentPagedml2").removeClass("d-flex").addClass("d-none");
        $(".contentPagedml2").each(function (n) {
            if (n >= pageSize * (page - 1) && n < pageSize * page){
                $(this).show();
                $(this).addClass("d-flex").removeClass("d-none");}
        });
    }
    showPage(1);
    
    var totalRows = $("#total2").val();
    console.log(totalRows+'aaaaaaaaaaaa');
    if(totalRows%4 !=0)
    	var btnPage = totalRows/4+1;
    else 
    	var btnPage = totalRows/4;
    var iTotalPages = Math.ceil(totalRows / pageSize);

    var obj = $('#pagination2').twbsPagination({
        totalPages: iTotalPages,
        visiblePages: btnPage,
        onPageClick: function (event, page) {
            console.info(page);
            showPage(page);
        }
    });
    console.info(obj.data());
}); 
</script>