 <br>
 <form action="/search" method="POST">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 input-group mb-3">
            {{!-- <form action="/subcriber/search" method="POST"> --}}
                <input type="text" class="form-control rechange" placeholder="Search.." name="search">
                <div class="input-group-append">
                    <button class="btn btn-outline-danger btnfilter" type="submit"> <i class="fa fa-search"></i></button>
                </div>      
            {{!-- </form> --}}
        </div>
        <div class="col-md-4"></div>
    </div>
 </form>
 
    <section class="breadcrumb-area bg-img bg-overlay" style="background-image: url(../../img/bg-img/DL1.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2>{{this.category.name}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### End Breadcrumb Image ##### -->


    <!-- ##### Breadcrumb Area Words -->
    <div class="mag-breadcrumb py-5" style="height: 50px; margin-left: 30px;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
                            <li class="breadcrumb-item"><a href="/guest/detailcategories/{{this.category.id}}">{{this.category.name}}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Articles</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### End Breadcrumb Area Words ##### -->


    <!-- ##### Posts Area Start ##### -->
    <section class="mag-posts-area d-flex flex-wrap">


        <!-- >>>>>>> Main Posts Area <<<<<<<<< -->

        <div class="mag-posts-content mt-30 mb-30 p-30 box-shadow">
            
            <!-- Danh sách bài viết area -->
            <div class="feature-video-posts mb-30">

                <div class="featured-video-posts">
                    
                    <div class="row">
                    
                        <div class="col-12 col-lg-12"> 
                            <!--Các item bài viết-->
                        <div class="archive-posts-area bg-white p-30 mb-30">
                          {{!-- Phân biệt premium --}}
                       
                    
                        <input type="hidden" class="form-control" id="total2" name="total2" value="{{this.article.length}}" required/>
                         {{!-- {{#each this.article}}  
   
                         <div class="contentPagedml single-catagory-post  ">
                            <!-- Thumbnail -->
                            <div class="post-thumbnail bg-img" style="background-image: url({{image}});">
                                <a href="#">
                                    <div style="width: 100%; height: 100%">
                                    </div>
                                 </a>    
                            </div>
                            <!-- Post Contetnt -->
                            <div class="post-content">
                                <div class="post-meta">
                                    <a href="#">{{datePostFormated}}</a>
                                    <a href="/guest/detailcategories/{{idCategory}}">{{catName}}</a>
                                </div>
                                <a href="#" class="post-title">{{title}}</a>                        
                                <p>{{summary}}  </p>
                            </div>
                        </div>
                        {{/each}}    --}}
                        {{#each this.article}}
                        {{#if premmium}}
                         <div class="contentPagedml single-team-member align-items-center">
                            <div class="team-member-thumbnail">
                                <span class="badge badge-warning">Premium</span>
                                <img src="{{image}}" alt="" style="float: left;">
                                <div class="social-btn">
                                    <a href="#"><i class="far fa-address-card"></i> Info</a>
                                </div>
                            </div>
                            <div class="team-member-content">
                                <h6>{{username}}
                    
                                 {{!-- <button class="mltrue mltruebut" data-toggle="modal" data-target="#exampleModaltrue"><i class="fas fa-check"></i></button> --}}
                             </h6>
                             <span>{{catename}}</span>
                             
                             <p><strong>Title:</strong> {{title}} <span class="badge badge-warning">Premium</span></p>
                            <p><strong>Summary:</strong> {{summary}}</p>
                             {{!-- <button type="button" class="btn btn-outline-secondary"><p></p>See details</button> --}}
                             <a class="btn btn-outline-secondary" href="/subcriber/view/{{id}}" role="button">
                        
                                Premium
                            </a>
                         </div>
                        </div> 
                        {{else}}
                        <div class="contentPagedml single-team-member align-items-center">
                            <div class="team-member-thumbnail">
                                <img src="{{image}}" alt="" style="float: left;">
                                <div class="social-btn">
                                    <a href="#"><i class="far fa-address-card"></i> Info</a>
                                </div>
                            </div>
                            <div class="team-member-content">
                                <h6>{{username}}
                    
                                 {{!-- <button class="mltrue mltruebut" data-toggle="modal" data-target="#exampleModaltrue"><i class="fas fa-check"></i></button> --}}
                             </h6>
                             <span>{{catename}}</span>
                             
                             <p><strong>Title:</strong> {{title}} </p>
                            <p><strong>Summary:</strong> {{summary}}</p>
                             {{!-- <button type="button" class="btn btn-outline-secondary"><p></p>See details</button> --}}
                             <a class="btn btn-outline-secondary" href="/subcriber/view/{{id}}" role="button">
                        
                                See Detail
                            </a>
                         </div>
                        </div>
                        {{/if}}
                        {{/each}}
                          <!-- Pagination -->
                         <div style="width: 500px; margin:auto;">
                                <ul id="pagination"></ul>
                        </div>
                        <!-- endPagination -->
                                          
                        
                      

                    </div>
                        </div>


                        
                    </div>
                </div>
            </div>


            <!-- Suggested posts-->
            <div class="most-viewed-videos mb-30">
                <!-- Section Title -->
                <div class="section-heading">
                    <h5>Suggested posts</h5>
                </div>  
                <div class="most-viewed-videos-slide owl-carousel">
                    <!-- Single Blog Post -->
                    {{#each topnewest}}
                        {{#if premium}}
                            <div class="single-blog-post style-4">
                                <div class="post-thumbnail">
                                    <a href="#"data-toggle="modal" data-target="#lockModal">
                                        <img src="{{image}}" alt="">
                                    </a>                           
                                </div>
                                <div class="post-content">
                                    <a href="#" class="post-title" data-toggle="modal" data-target="#lockModal">{{title}} <span class="badge badge-warning">Premium</span> </a>
                                    <div class="post-meta d-flex">
                                        <a href="#">{{datePostFormated}}|</a>
                                        <a href="/guest/detailcategories/{{idCategory}}">{{catName}}</a>
                                    </div>
                                </div>
                            </div>
                        {{else}}
                            <div class="single-blog-post style-4">
                                <div class="post-thumbnail">
                                    <a href="#">
                                        <img src="{{image}}" alt="">
                                    </a>                           
                                </div>
                                <div class="post-content">
                                    <a href="#" class="post-title">{{title}} </a>
                                    <div class="post-meta d-flex">
                                        <a href="#">{{datePostFormated}}|</a>
                                        <a href="/guest/detailcategories/{{idCategory}}">{{catName}}</a>
                                    </div>
                                </div>
                            </div>
                        {{/if}}
                    {{/each}}
                </div>
            </div>
            <!-- Suggested posts -->

        </div>
        <!-- >>>>>>> End Main Posts Area <<<<<<< -->



        <!-- >>>>>>>> Right Sidebar Area<<<<<<< -->
        <!-- Mostviews -->
        <div class="post-sidebar-area right-sidebar mt-30 mb-30 box-shadow">
                <!-- Sidebar Widget Right1 - Xem nhiều -->
            <div class="single-sidebar-widget p-30">
                <!-- Section Title -->
                <div class="section-heading">
                    <h5>MOST VIEWS</h5>
                </div>

                {{!-- <div  class="limitmostviews"> --}}
                {{#each articlemostviews}}
                    {{#if premium}}
                    <!-- Single Blog Post -->
                    <div class="single-blog-post d-flex limiteachmostviews ">
                        <div class="post-thumbnail">
                            <a href="#"data-toggle="modal" data-target="#lockModal"> <img src="{{image}}" alt=""></a>
                        </div>
                        <div class="post-content">
                            <a href="#" class="post-title" data-toggle="modal" data-target="#lockModal">{{title}} <span class="badge badge-warning">Premium</span></a>
                            
                            <div class="post-meta d-flex">   
                                <a href="#">{{datePostFormated}} |</a>
                                <a href="/guest/detailcategories/{{idCategory}}">{{catName}}</a>
                            </div>
                        </div>
                    </div> 
                    {{else}}                    
                    <!-- Single Blog Post -->
                    <div class="single-blog-post d-flex limiteachmostviews ">
                        <div class="post-thumbnail">
                            <a href="#"> <img src="{{image}}" alt=""></a>
                        </div>
                        <div class="post-content">
                            <a href="#" class="post-title">{{title}} <span class="badge badge-danger">Hot</span></a>
                            
                            <div class="post-meta d-flex">   
                                <a href="#">{{datePostFormated}} |</a>
                                <a href="/guest/detailcategories/{{idCategory}}">{{catName}}</a>
                            </div>
                        </div>
                    </div> 
                    {{/if}}
                {{/each}}
                {{!-- </div>    --}}
            </div>
            <!-- End Sidebar Widget Right1 - MostViews-->

            <!-- Sidebar Widget -->
            <!-- <div class="single-sidebar-widget">
                <a href="#" class="add-img"><img src="img/bg-img/add.png" alt="">Đặt quảng cáo ở đây</a>
            </div> -->
            
            <!-- Sidebar Widget Right2- Categories-->
            <div class="single-sidebar-widget p-30">
                <!-- Section Title -->
                <div class="section-heading">
                    <h5>Categories</h5>
                </div>
                <div class="list-group list-group-flush">
                    {{#each lcCategories}}
                    <a href="/guest/detailcategories/{{id}}" class="list-group-item list-group-item-action {{#if isActive}}active{{/if}}">
                    {{name}}
                    {{#if num_of_articles}}
                    <span class="badge badge-danger float-right">{{num_of_articles}}</span>
                    {{/if}}
                    </a>
                    {{/each}}
                </div>
            </div>
             <!--End Sidebar Widget Right2- Categories-->

                
            <!-- Sidebar Widget Right2- Xu hướng-->
            <div class="single-sidebar-widget p-30" >
                <!-- Section Title -->
                <div class="section-heading">
                    <h5>Tags</h5>
                </div>
               <div class="tagname" id="tagformat">
                {{#each articlemostviews}}   
                <a  href="#">{{tagName}}</a>
                {{/each}} 
                </div>
            </div>
             <!--End Sidebar Widget Right2- Xu hướng-->

            </div>
        </div>
        <!-- End Mostviews-->
    </section>

<div class="modal fade" id="lockModal" tabindex="-1" role="dialog" aria-labelledby="lockModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="lockModalLabel" style="color: rgb(255, 166, 0);">PREMIUM ARTICLE</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        This is PREMIUM article, please REGISTER to become a subscriber to get the best experience!
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-warning" href="#">LOGIN</button>
        {{!-- <a href="#" class="btn btn-danger">REGISTER NOW</a> --}}
        <button type="button" class="btn btn-danger" href="#">REGISTER NOW</button>
        </div>
    </div>
    </div>
</div>
    <!-- ##### END MODAL ##### -->

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>  
<script src="/js/jquery/jquery-2.2.4.min.js"></script>
<script src="http://1892.yn.lt/blogger/JQuery/Pagging/js/jquery.twbsPagination.js" type="text/javascript"></script>
{{!-- Xử lí pagination --}}
<script>
    $(function () {
    var pageSize = 4;
    showPage = function (page) {
        $(".contentPagedml").hide();
        $(".contentPagedml").each(function (n) {
            if (n >= pageSize * (page - 1) && n < pageSize * page){
                $(this).show();
                }
        });
    }
    showPage(1);
    
    var totalRows = $("#total2").val();
    if(totalRows%4 !=0)
    	var btnPage = totalRows/4+1;
    else 
    	var btnPage = totalRows/4;
    var iTotalPages = Math.ceil(totalRows / pageSize);

    var obj = $('#pagination').twbsPagination({
        totalPages: iTotalPages,
        visiblePages: btnPage,
        onPageClick: function (event, page) {
            console.info(page);
            showPage(page);
        }
    });
    console.info(obj.data());
}); 
</script>
{{!-- random tag format --}}
<script>    
    $(document).ready(function(){
    var classes = ["tagname1", "tagname2", "tagname3", "tagname4", "tagname5", "tagname6", "tagname7", "tagname8"];

    $("#tagformat a").each(function(){
        $(this).addClass(classes[~~(Math.random()*classes.length)]);
    });
});
</script>
{{!-- <script>
    //random tag format
    $("#limitmostviews div").each(data, function(i){
    //i is 0 based, so 3 is really 2.
    if(i == 2){
        //exit the loop on the 3rd iteration of the object.
        return false;
    }
    });
});
</script> --}}
{{!-- $.each(data, function(i, value) {
      if (i == 3) {
            return false;
      }
      ... // Use this value
}); --}}

{{!-- $.each(objects, function(index, val) {
        if (index > 3) {
               return false;
        }
        //I only put this to show what these variables do for you
        console.log("At index " + index + ", there is a value of " + val);
} --}}
{{!-- <script>
 $(".limitmostviews").each(articlemostviews, function(index, val) {
        if (index > 2) {
               return false;
               break;
        }
 });
 </script>    --}}
 {{!-- <script>
 $(".limiteachmostviews").each(function (i) {
            if (i > 3 ){
                break;
                }
        });
</script>     --}}
    