 {{!-- <form id="thishereform2" action="/subcriber/search" method="POST"></form> --}}
 <br>
 <form action="/search" method="POST">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 input-group mb-3">
            {{!-- <form action="/subcriber/search" method="POST"> --}}
                <input type="text" class="form-control rechange" placeholder="Search.." name="search">
                <div class="input-group-append">
                    <button class="btn btn-outline-danger btnfilter" type="submit"> <i class="fa fa-search"></i></button>
                </div>      
            {{!-- </form> --}}
        </div>
        <div class="col-md-4"></div>
    </div>
 </form>

<div class="container" >
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" >
  <div class="carousel-inner">




<div class="hero-area owl-carousel">
    {{#each topnewest}}
     <div class="hero-blog-post bg-img bg-overlay" style="background-image: url({{image}});">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <!-- Post Content -->
                        <div class="post-content text-center">
                                <p>&nbsp</p>
                                <a href="/guest/detailcategories/{{idCategory}}"><p style="color:#dc3545; font-size: 25px;">{{catName}}&nbsp|&nbsp<span class="badge badge-warning">Premium</span></p></a>
                            <p>&nbsp</p>
                            <a href="/subcriber/view/{{id}}" class="post-title" data-animation="fadeInUp" data-delay="300ms">{{title}}</a>
                            <p>&nbsp</p>      
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{#if premium}}
        {{else}}
         <!-- Single Blog Post -->
        <div class="hero-blog-post bg-img bg-overlay" style="background-image: url({{image}});">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <!-- Post Content -->
                        <div class="post-content text-center">
                                <p>&nbsp</p>
                                <a href="/guest/detailcategories/{{idCategory}}"><p style="color:#dc3545; font-size: 25px;">{{catName}}</p></a>
                            <p>&nbsp</p>
                             <a href="/subcriber/view/{{id}}" class="post-title" data-animation="fadeInUp" data-delay="300ms">{{title}}</a>
                            <p>&nbsp</p>                             
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/if}}
    {{/each}}
        {{!-- <!-- Single Blog Post -->
        <div class="hero-blog-post bg-img bg-overlay" style="background-image: url(img/bg-img/2.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <!-- Post Contetnt -->
                        <div class="post-content text-center">
                           
                            <p>&nbsp</p>
                                <a href="/guest/detailcategories/6"><p style="color:#dc3545; font-size: 25px;">TRAVEL AROUND THE WORLD</p></a>
                         
                             <p>&nbsp</p>
                           
                            <a href="/guest/detailcategories/6" class="post-title" data-animation="fadeInUp" data-delay="300ms">Party Jokes Startling But Unnecessary</a>
                              <p>&nbsp</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Blog Post -->
        <div class="hero-blog-post bg-img bg-overlay" style="background-image: url(img/bg-img/3.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <!-- Post Contetnt -->
                        <div class="post-content text-center">
                            
                             <p>&nbsp</p>
                                <a href="/guest/detailcategories/4"><p style="color:#dc3545; font-size: 25px;">DAYLY CUTURALS</p></a>
                            
                             <p>&nbsp</p>
    
                            <a href="/guest/detailcategories/4" class="post-title" data-animation="fadeInUp" data-delay="300ms">Party Jokes Startling But Unnecessary</a>
                            <p>&nbsp</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> --}}
    </div>



  </div>
  
      <a class="carousel-control-prev" href="
      #carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>  
</div>
</div> 

<!--end container-->

    <!-- #### Mag Posts Area Start #### -->
    <section class="mag-posts-area d-flex flex-wrap">

        <!-- >>>>>>>>>>>>>>>>>>>>
             Main Posts Area
        <<<<<<<<<<<<<<<<<<<<< -->
        <div class="mag-posts-content mt-30 mb-30 p-30 box-shadow">

            <!-- Tin mới nhất Area -->
            <div class="feature-video-posts mb-30">
                <!-- Section Title -->
                <div class="section-heading">
                    <h5>Newest post</h5>
                </div>
                    
                <div class="featured-video-posts">
                    <div class="row">

                        
                        <div class="col-12 col-lg-7 ">
                            {{#each top1newest}}
                                {{#if premium}}
                                    <!-- Single Premium Post -->
                                    <div class="single-featured-post">
                                        <!-- Thumbnail -->
                                        <div class="post-thumbnail mb-50">
                                            
                                            <a href="/guest/detailcategories/{{idCategory}}"><img src="{{image}}" alt=""></a>
                                        </div>
                                        <!-- Post Contetnt -->
                                        <div class="post-content">
                                            <div class="post-meta">
                                                <a href="/guest/detailcategories/{{idCategory}}">{{datePostFormated}}</a>|
                                                <a href="/guest/detailcategories/{{idCategory}}">{{catName}}</a>
                                            </div>
                                            <a href="/subcriber/view/{{id}}" class="post-title">{{title}} <span class="badge badge-warning">Premium</span></a>
                                            <p>{{summary}}</p>
                                        </div>
                                    </div>
                                {{else}}
                                    <!-- Single  Post -->
                                    <div class="single-featured-post">
                                        <!-- Thumbnail -->
                                        <div class="post-thumbnail mb-50">
                                            
                                            <a href="/guest/detailcategories/{{idCategory}}" ><img src="{{image}}" alt=""></a>
                                        </div>
                                        <!-- Post Contetnt -->
                                        <div class="post-content">
                                            <div class="post-meta">
                                                <a href="/guest/detailcategories/{{idCategory}}">{{datePostFormated}}</a>|
                                                <a href="/guest/detailcategories/{{idCategory}}">{{catName}}</a>
                                            </div>
                                            <a href="/subcriber/view/{{id}}" class="post-title">{{title}} <span class="badge badge-primary">New</span></a>
                                            <p>{{summary}}</p>
                                        </div>
                                    </div>
                                {{/if}}
                            {{/each}}
                        </div>
                       


                        <div class="col-12 col-lg-5">
                            <!-- Featured Video Posts Slide -->
                            <div class="featured-video-posts-slide owl-carousel">

                                <div class="single--slide">
                                    {{#each top5newest}}
                                        {{#if premium}}
                                        <!-- Single Premium Post -->
                                        <div class="single-blog-post d-flex style-3">
                                            <div class="post-thumbnail">
                                                <a href="/subcriber/view/{{id}}"><img src="{{image}}" alt="" style="height: 35px"></a>
                                            </div>
                                            <div class="post-content">
                                                <a href="/subcriber/view/{{id}}" class="post-title">
                                                    {{title}}<span class="badge badge-warning">Premium</span>
                                                </a>
                                                <div class="post-meta d-flex">   
                                                    <a href="/subcriber/view/{{id}}">{{datePostFormated}} |</a>
                                                    <a href="/guest/detailcategories/{{idCategory}}">{{catName}}</a>
                                                </div>
                                            </div>
                                        </div>
                                        {{else}}
                                        <!-- Single Blog Post -->
                                        <div class="single-blog-post d-flex style-3">
                                            <div class="post-thumbnail">
                                                <a href="/subcriber/view/{{id}}" ><img src="{{image}}" alt="" style="height: 35px"></a>
                                            </div>
                                            <div class="post-content">
                                                <a href="baiviet.html" class="post-title">{{title}}<span class="badge badge-primary">New</span></a>
                                                <div class="post-meta d-flex">   
                                                    <a href="/subcriber/view/{{id}}">{{datePostFormated}} |</a>
                                                    <a href="/guest/detailcategories/{{idCategory}}">{{catName}}</a>
                                                </div>
                                            </div>
                                        </div>
                                        {{/if}}
                                    {{/each}}
                                </div>

                                <div class="single--slide">
                                    {{#each top5to10newest}}
                                   {{#if premium}}
                                        <!-- Single Premium Post -->
                                        <div class="single-blog-post d-flex style-3">
                                            <div class="post-thumbnail">
                                                <a href="/subcriber/view/{{id}}"><img src="{{image}}" alt="" style="height: 35px"></a>
                                            </div>
                                            <div class="post-content">
                                                <a href="/subcriber/view/{{id}}" class="post-title">
                                                    {{title}}<span class="badge badge-warning">Premium</span>
                                                </a>
                                                <div class="post-meta d-flex">   
                                                    <a href="/subcriber/view/{{id}}">{{datePostFormated}} |</a>
                                                    <a href="/guest/detailcategories/{{idCategory}}">{{catName}}</a>
                                                </div>
                                            </div>
                                        </div>
                                        {{else}}
                                         <!-- Single Blog Post -->
                                        <div class="single-blog-post d-flex style-3">
                                            <div class="post-thumbnail">
                                                <a href="/subcriber/view/{{id}}" ><img src="{{image}}" alt="" style="height: 35px"></a>
                                            </div>
                                            <div class="post-content">
                                                <a href="/subcriber/view/{{id}}" class="post-title">{{title}}<span class="badge badge-primary">New</span></a>
                                                <div class="post-meta d-flex">   
                                                    <a href="/subcriber/view/{{id}}">{{datePostFormated}} |</a>
                                                    <a href="/guest/detailcategories/{{idCategory}}">{{catName}}</a>
                                                </div>
                                            </div>
                                        </div>
                                        {{/if}}
                                    {{/each}}

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Tin mới nhất - end -->


            <!-- Bài viết nổi bật -->
             <div class="trending-now-posts mb-30">
                
                <div class="section-heading">
                    <h5>Featured posts</h5>
                </div>

                <div class="trending-post-slides owl-carousel">
        
                    {{#each articlemostviews}}
                        {{#if premium}}
                            <div class="single-trending-post">
                                <a href="/subcriber/view/{{id}}"><img src="{{image}}" alt="" style="height: 250px;"></a>                                           
                                <div class="post-content ">                
                                    <a href="/guest/detailcategories/{{idCategory}}" class="post-cata">{{datePostFormated}} | {{catName}}</a>                          
                                    <a href="/subcriber/view/{{id}}" class="post-title">{{title}}&nbsp<span class="badge badge-warning">Premium</span></a>                                
                                </div>
                            </div>
                        {{else}}
                            <div class="single-trending-post">
                                <a href="/subcriber/view/{{id}}"><img src="{{image}}" alt="" style="height: 250px;"></a>                                           
                                <div class="post-content ">                
                                    <a href="/guest/detailcategories/{{idCategory}}" class="post-cata">{{datePostFormated}} | {{catName}}</a>                          
                                    <a href="/subcriber/view/{{id}}" class="post-title">{{title}}</a>                                
                                </div>
                            </div>
                        {{/if}}
                    {{/each}}
                   
                    
                </div>
            </div> 
            <!-- END Bài viết nổi bật -->

            


            <!--CHUYÊN MỤC POST -->
            {{#each top1eachcate}}
            <div class="every-news-area sports-videos-area">
                <!-- Section Title -->
                <div class="section-heading">
                    <h5>{{catName}}</h5>
                </div>
                {{#if premium}}
                <div class="every-news-post">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                             <div class="single-featured-post">
                                <!-- Thumbnail -->
                                <div class="post-thumbnail mb-50">
                                    <a href="/subcriber/view/{{id}}"><img src="{{image}}" alt="" ></a>                                 
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-12 col-lg-5">
                             <!-- Post Contetnt -->
                            <div class="single-blog-post style-4">
                                <div class="post-content">
                                    <div class="post-meta d-flex">
                                        <a href="/subcriber/view/{{id}}">{{datePostFormated}}</a> &nbsp|&nbsp
                                        <a href="/guest/detailcategories/{{idCategory}}">{{catName}}</a>
                                    </div>
                                    </br>
                                    <a href="/subcriber/view/{{id}}" class="post-title">
                                            {{title}}&nbsp<span class="badge badge-primary">New</span> 
                                            &nbsp<span class="badge badge-warning">Premium</span> 
                                    </a>
                                    <p> {{summary}}</p>
                                </div>
                            </div>    
                        </div>
                    </div>
                </div> 
                {{else}}
                <div class="every-news-post">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                             <div class="single-featured-post">
                                <!-- Thumbnail -->
                                <div class="post-thumbnail mb-50">
                                    <a href="/subcriber/view/{{id}}" ><img src="{{image}}" alt="" ></a>                                 
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-12 col-lg-5">
                             <!-- Post Contetnt -->
                            <div class="single-blog-post style-4">
                                <div class="post-content">
                                    <div class="post-meta d-flex">
                                        <a href="/subcriber/view/{{id}}">{{datePostFormated}}</a> &nbsp|&nbsp
                                        <a href="/guest/detailcategories/{{idCategory}}">{{catName}}</a>
                                    </div>
                                    </br>
                                    <a href="/subcriber/view/{{id}}" class="post-title">{{title}}&nbsp<span class="badge badge-primary">New</span> </a>
                                    <p> {{summary}}</p>
                                </div>
                            </div>    
                        </div>
                    </div>
                </div> 
                {{/if}}
            </div>
            {{/each}}
            <!--End CHUYÊN MỤC POST -->
        </div>
      
        {{!-- End main area --}}
            

        <!-- >>>>>>>>>>>>>>>>>>>>
         Post Right Sidebar Area
        <<<<<<<<<<<<<<<<<<<<< -->

        
            <div class="post-sidebar-area right-sidebar mt-30 mb-30 box-shadow">
                <!-- Sidebar Widget Right1 - Xem nhiều -->
            <div class="single-sidebar-widget p-30">
                <!-- Section Title -->
                <div class="section-heading">
                    <h5>Most views</h5>
                </div>

                {{#each articlemostviews}}
                    {{#if premium}}
                     <!-- Single Premium Post -->
                    <div class="single-blog-post d-flex limiteachmostviews ">
                        <div class="post-thumbnail">
                            <a href="/subcriber/view/{{id}}"> <img src="{{image}}" alt="" style="height: 50px"></a>
                        </div>
                        <div class="post-content">
                            <a href="/subcriber/view/{{id}}" class="post-title">
                                {{title}} <span class="badge badge-danger">Hot</span>
                                <span class="badge badge-warning">Premium</span>
                            </a>
                            <div class="post-meta d-flex">   
                                <a href="/subcriber/view/{{id}}">{{datePostFormated}} |</a>
                                <a href="/guest/detailcategories/{{idCategory}}">{{catName}}</a>
                            </div>
                        </div>
                    </div> 
                    {{else}}
                    <!-- Single Blog Post -->
                    <div class="single-blog-post d-flex limiteachmostviews ">
                        <div class="post-thumbnail">
                            <a href="/subcriber/view/{{id}}"> <img src="{{image}}" alt=""style="height: 50px"></a>
                        </div>
                        <div class="post-content">
                            <a href="/subcriber/view/{{id}}" class="post-title">{{title}} <span class="badge badge-danger">Hot</span></a>
                            <div class="post-meta d-flex">   
                                <a href="/subcriber/view/{{id}}">{{datePostFormated}} |</a>
                                <a href="/guest/detailcategories/{{idCategory}}">{{catName}}</a>
                            </div>
                        </div>
                    </div> 
                    {{/if}}                
                {{/each}}

                
                 
            </div>
            <!-- End Sidebar Widget Right1 - Xem nhiều-->

            <!-- Sidebar Widget -->
            <!-- <div class="single-sidebar-widget">
                <a href="danhsachbaiviet.html" class="add-img"><img src="img/bg-img/add.png" alt="">Đặt quảng cáo ở đây</a>
            </div> -->
            
            <!-- Sidebar Widget Right2- Categories-->
                <div class="single-sidebar-widget p-30" >
                    <!-- Section Title -->
                    <div class="section-heading">
                        <h5>Categories</h5>
                    </div>
                    <div class="list-group list-group-flush " >
                        {{#each lcCategories}}
                        <a href="/guest/detailcategories/{{id}}" class="list-group-item list-group-item-action {{#if isActive}}active{{/if}}">
                        {{name}}
                        {{#if num_of_articles}}
                        <span class="badge badge-danger float-right">{{num_of_articles}}</span>
                        {{/if}}
                        </a>
                        {{/each}}
                    </div>
                </div>
              
             <!--End Sidebar Widget Right2- Categories-->

                
            <!-- Sidebar Widget Right2- Xu hướng-->
            <div class="single-sidebar-widget p-30" >
                <!-- Section Title -->
                <div class="section-heading">
                    <h5>Tags</h5>
                </div>
               <div class="tagname" id="tagformat">
                {{#each articlemostviews}}   
                <a  href="/guest/detailcategories/{{idCategory}}">{{tagName}}</a>
                {{/each}} 
                </div>
            </div>
             <!--End Sidebar Widget Right2- Xu hướng-->

            </div>
        </div>
    </section>
    <!-- #### Mag Posts Area End #### -->

   


    <!-- #####     MODAL ##### -->-->
        <div class="modal fade" id="lockModal" tabindex="-1" role="dialog" aria-labelledby="lockModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="lockModalLabel" style="color: rgb(255, 166, 0);">PREMIUM ARTICLE</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                This is PREMIUM article, please REGISTER to become a subscriber to get the best experience!
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-warning" href="#">LOGIN</button>
                {{!-- <a href="#" class="btn btn-danger">REGISTER NOW</a> --}}
                <button type="button" class="btn btn-danger" href="#">REGISTER NOW</button>
              </div>
            </div>
          </div>
        </div>

    <!-- ##### END MODAL ##### -->

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>  
<script src="/js/jquery/jquery-2.2.4.min.js"></script>
{{!-- random tag format --}}
<script>    
    $(document).ready(function(){
    var classes = ["tagname1", "tagname2", "tagname3", "tagname4", "tagname5", "tagname6", "tagname7", "tagname8"];

    $("#tagformat a").each(function(){
        $(this).addClass(classes[~~(Math.random()*classes.length)]);
    });
});
</script>

{{!-- random div newest post area --}}
<script>
    $(function() {
  // Grab the template script
  var theTemplateScript = $("#myTemplate").html();

  // Compile the template
  var theTemplate = Handlebars.compile(theTemplateScript);

  // Define our data object
  var context = {};

  var getData = function() {
    $.ajax({
      url: "https://randomuser.me/api/?results=20",
      dataType: "json",
      success: function(data) {
        context.people = data.results;
        // Pass our data to the template
        var theCompiledHtml = theTemplate(context);
        // Add the compiled html to the page
        $(".people").html(theCompiledHtml);
      }
    });
  };

  $(".getlistbtn").on("click", getData);

  $(".clearbtn").on("click", function() {
    context = {};

    // Add the compiled html to the page
    $(".people").html(
      '<div class="col-xs-12">Click "Get People" to load the Dataset.</div>'
    );
  });

  getData();
});

</script>